header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    font-weight: bold;

    background-color: #4682A9;
    padding: 1%;
}
