header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-size: 250%;
    font-weight: bold;
    background-color: rgb(250, 215, 215);
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    background-color: green;
}

.password {
    flex: 65%;
    font-size: 100%;
    background-color: red;
}

.password-utils-container {

    flex: 35%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: right;
    height: 20vh;
    background-color: blue;
}

.password-utils-container button {
    align-items: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 10%;

    width: 30%;
}

.copy-message {
}
