.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    background-color: green;
}

.password {
    flex: 80%;
    font-size: 200%;
    background-color: red;
}

.password-utils-container {

    flex: 35%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: 20vh;
    background-color: blue;
    font-size: 1.2rem;
}

.password-utils-container button {
    align-items: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 10%;

}

.copy-message {
    font-style: bold;
}

.copy-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    background-color: gray;
}
.copy-container > span {
    padding-right: 2rem;

}

.refresh-container {
    display: flex;
    flex-direction: row;

    background-color: yellow;
}